/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-full-width {
    width: 70%;
  }

  #lastbutton{
    
      left: 80%;
      position:absolute;
  }
  /* button {
    background-color: transparent;
    background-image: none;
    left: 80%;
    position: absolute;
} */

/* .inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500{
    left: 80%;
    position: absolute;
} */